DJANGO_SECRET_KEY='django-insecure'
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
ACCESS_TOKEN_LIFETIME_MINUTES=43200
REFRESH_TOKEN_LIFETIME_DAYS=60
POSTGRES_DB=barrier
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
DJANGO_SUPERUSER_PHONE=+79991234567
DJANGO_SUPERUSER_NAME='Admin Name'
DJANGO_SUPERUSER_PASSWORD=password